.Shell {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.BrowserTabs {
	height: 100%;
}

.BrowserTabPane {
	height: 100%;
}

.ant-tabs-content {
	height: 100%;
}

.export-options {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.export-suboptions {
	display: flex;
	gap: 20px;
}
