:root {
	.bp4-control-group {
		align-items: center;
	}

	.bp4-file-upload-input {
		background-color: @container-fg-color;
		color: @subtext-color;
	}

	.bp4-input {
		background-color: @container-fg-color;
		color: @text-color;
		height: 2rem;
	}

	.bp4-input-group.bp4-small .bp4-input {
		height: 1.5rem;
	}

	.bp4-file-upload-input::after {
		content: none;
	}
}
