@primary-tint-1: #dce5f5;
@primary-tint-2: #bcccec;
@primary-tint-3: #8a9dc7;
@primary-tint-4: #58688f;
@primary-tint-5: #18203b;
@primary-tint-6: #111731;
@primary-tint-7: #0a1028;
@primary-tint-8: #060a21;

@text-color: @primary-tint-1;
@subtext-color: @primary-tint-2;

@container-bg-color: @primary-tint-6;
@container-fg-color: @primary-tint-7;
@outline-color: @primary-tint-7;

@success: #16825d;
@success-tint-1: #199c6e;
@danger: #d02029;
@danger-tint-1: #e0212a;
