@import "../../common/variables.less";

.Manager {
	height: 100%;
}

.ConnectionsContainer {
	width: 70%;
	margin: auto;
}

.CardTitle {
	display: flex;
	color: #fff;
}

.NameContainer {
	flex-grow: 1;
}
