@import "../../common/styles/variables.less";

.ConnectionManager {
	min-width: 160px;
	height: 100%;
	// background-color: @primary;
	display: flex;
	flex-direction: column;
	padding-bottom: 10px;
	gap: 20px;
}

.Container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.ConnectionDetails {
	margin-bottom: 20px;
}

.CardTitle {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #fff;
}

.CardTitleSection {
	display: flex;
	align-items: center;
	width: 70%;
	gap: 10px;
}

.FlexboxWithGap {
	display: flex;
	gap: 20px;
}

.FlexboxWithMargin {
	display: flex;
	margin-top: 20px;
}

.TrimText {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.FlexFill {
	flex-grow: 1;
}

.FlexAbsoluteCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

.Header {
	font-size: 20px;
}

.CompactCard {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	// background: @primary-tint-8;
	align-items: center;
	gap: 4px;
	padding: 12px;
}

.CellInfo {
	min-width: 10%;
}

.CellInfoTitle {
	// color: @primary-tint-2;
	font-size: 13px;
}

.CellInfoTitleContent {
	display: flex;
	flex-wrap: wrap;
	word-wrap: break-word;
}
