@import "../styles/variables.less";

.ant-btn {
	height: 34px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.button-icon-wrapper {
	display: flex !important;
	padding: 3px;
}

.button-primary {
	background: @primary-tint-8;
	color: @primary-tint-1;
}

.button-secondary {
	background: @primary-tint-4;
	color: @primary-tint-7;

	&:hover {
		background: @primary-tint-3;
		color: @primary-tint-6;
	}
}

.button-success {
	background: @success;

	&:hover {
		background: @success-tint-1;
	}
}

.button-danger {
	background: @danger;

	&:hover {
		background: @danger-tint-1;
	}
}

.button-text-size-small {
	font-size: 12px;
}

.button-text-size-medium {
	font-size: 14px;
}

.button-text-size-large {
	font-size: 16px;
}
