@import "../styles/variables.less";

.button-base {
	border-radius: @border-radius;
}

.button-icon-wrapper {
	display: flex !important;
	padding: 3px;
}

.button-primary {
	background: @button-color-primary !important;
	color: @text-color;
	&:hover {
		background: @button-color-secondary !important;
	}
}

.button-secondary {
	background: @container-bg-color;
	color: @text-color;

	&:hover {
	}
}

.button-link {
	color: @text-color !important;
}

.button-link-danger {
	color: @text-color !important;
	&:hover {
		background-color: @button-color-danger !important;
	}
}

.button-success {
	background: @success;

	&:hover {
		background: @success-tint-1;
	}
}

.button-danger {
	background: @button-color-danger;

	&:hover {
		background: @button-color-danger;
	}
}

.button-text-size-small {
	font-size: 12px;
}

.button-text-size-medium {
	font-size: 14px;
}

.button-text-size-large {
	font-size: 16px;
}
