@import "../styles/variables.less";

.modal {
	a {
		gap: 4px;
		color: @link-color !important;
		&:hover {
			color: @text-color !important;
		}
	}

	padding-bottom: 8px;
	background-color: @container-bg-color;
	color: @text-color;
	height: 100%;

	box-shadow: @box-shadow;

	.bp4-dialog-header {
		background-color: @container-fg-color;
	}

	.title {
		font-size: @medium-font-size;
		color: @text-color;
	}

	.content {
		padding: 8px 8px;
		overflow-y: auto;
		height: 100%;
	}

	.footer {
		display: flex;
		justify-content: flex-end;
		padding: 8px;
	}
}

.small {
	width: 600px;
}

.large {
	width: 1000px;
	height: 500px;
}
