@import "../styles/variables.less";

.modal {
	padding-bottom: 8px;

	.title {
		color: @primary-tint-1;
		font-size: large;
	}

	.content {
		padding: 8px 8px;
	}

	.footer {
		display: flex;
		justify-content: flex-end;
		* {
			padding: 4px;
		}
	}
}
