@import "../../common/styles/variables.less";

.sidebar {
	width: 48px;
	min-width: 48px;
	max-width: 48px;
	height: 100%;
	background: @container-bg-color;
	box-shadow: @box-shadow;
	display: "flex";
	flex-direction: "column";

	.item {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		width: 100%;
		height: 50px;
		color: @text-color;
		cursor: pointer;

		* {
			color: @text-color;
		}

		.icon {
			padding: 6px 0px;
		}

		.initials {
			padding: 10px 4px;
		}
	}
}
